SECRET_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
DEBUG = True
ALLOWED_HOSTS = []

# Database
PGSQL_HOST=xxxxx
PGSQL_USER=xxxxxxx
PGSQL_PASSWORD=xxxxxxxxx
PGSQL_DB_NAME=xxxxx
PGSQL_PORT=xxxx


TOKEN_TTL=10
BASE_URL=xxxxxxxxx